@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family:'Manrope' , sans-serif;
    /* overflow-x: hidden; */
}
.container{
    width: 100%;
   /* overflow: hidden; */
}
.hero-section{
    background-color:#FFFFFF ;
}

.nav-section{
    display: flex;
    justify-content: space-between; 
    padding: 0 5rem ;
}

.nav-bar{
  margin-top: 25px;
  display: flex;
}

.logo{
    margin-top: 20px; 
}

li{
    list-style: none;
}

 .list a{
    text-decoration: none;
    margin: 20px;
   color: #1E1B1B;
   font-size: 1rem;
   font-weight: 600;
}

 .list a:hover{
    border-bottom: 2px solid #939191;
    border-radius: 1px;
    color: #FF6433;
}

.list {
    display: flex;
    justify-content: space-evenly;


}
.list::after{
    content: '';
    border-right: 1px solid #939191;
    margin-left: 1rem ;
}

.call-svg{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #61C3A1;
    padding: 5px;
    margin:  0 20px;
}

.road-assistance{
    display: flex;
}

.road-text{
    color: #1E1B1B;
    font-size: 14px;
    font-weight: 500;
  
}

.road-mobile{
color: #1E1B1B;
font-size: 14px;
font-weight: 600;
}
.our-expert {
    padding: 5rem 5rem 0 5rem;
}
.expert-container{
    display: flex;
    justify-content: space-between;
  
}
.our-expert h1{
    font-size: 64px;
    font-weight: 800;
    color: #1E1B1B;
    line-height: 1.2;
    width: 624px;
    margin-bottom: 20px;
}
input{
    width: 624px;
    background-color: #F2F2F2;
    color: #1E1B1B;
    border: none;
    outline: none;
    margin-top: 2px;
    border-radius: 2px;
    padding: 15px;
  
}
form{
    margin-bottom: 20px;
}
.orange-btn{
    border: none;
     background-color: #FF6433;
     color: #FFFFFF;
     font-size: 16px;
     border-radius: 12px;
     padding: 10px;
     cursor: pointer;
 }
 
 .orange-btn:hover{
 background-color: #050505;
 }
 .contact-address {
     margin-bottom: 20px;
 }
.contact-address h6{
   font: 600 16px #1E1B1B;
   Opacity: 70%;
   margin-bottom: 10px;
}
.contact-address p{
    font: 600 24px #1E1B1B;
}
#mobile{
    width: 231px;
}
.map-image{
    padding:  0 5rem;
    position: relative;
    top: 150px;
    width: 100%;
}
.workshop-div{
    background-color: #050505;
}
.workshop{
    width: 100%;
}

.footer-bottom a{
    color: #FFFFFF;
    font-size: 14px;
 }
 .footer-bottom{
     background-color: #050505;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    /* margin-top: 60px; */
    padding-bottom: 30px;
    border:1px solid #1E1B1B;
 }
 .footer-logo{
    filter: opacity(0.5) drop-shadow(0 0 0 white);
 }

 .copyright{
    font-size: 14px;
    color: #939191; 
 }