@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    font-family:'Manrope' , sans-serif;
    /* overflow-x: hidden; */
}
.container{
    width: 100%;
   /* overflow: hidden; */
}
.hero-section{
    background-color:#FFFFFF ;
}

.nav-section{
    display: flex;
    justify-content: space-around;
}

.nav-bar{
  margin-top: 25px;
}

.logo{
    margin-top: 20px; 
}

/* .logo:hover {
    color: #FF6433 !important;
} */

li{
    list-style: none;
}

 .list a{
    text-decoration: none;
    margin: 20px;
   color: #1E1B1B;
   font-size: 1rem;
   font-weight: 600;
}

 .list a:hover{
    border-bottom: 2px solid #1E1B1B;
    border-radius: 3px;
    color: #FF6433;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

.call-svg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #61C3A1;
    padding: 5px;
    margin: 20px;
}

.road-assistance{
    display: flex;
    border-left: 1px solid #939191;
    margin: 1,2rem;
}

.road-text{
    color: #1E1B1B;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}

.road-mobile{
color: #1E1B1B;
font-size: 14px;
font-weight: 600;
}

.hero-body{
    display: flex;
    justify-content: space-between;
    margin: 5rem;
}


.hero-text h1{
    width: 624px;
    font-size: 4rem;
    font-weight: 800;
    color: #1E1B1B;
    margin: 3rem 0;
    line-height: 1.2;
    
}

.hero-image{
    background-image: url(../images/Header\ Image\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
}




.time{
    display: flex;
    margin-top: 48px;
}

.orange-btn{
   border: none;
    background-color: #FF6433;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}

.orange-btn:hover{
background-color: #050505;
}

.header-image{
    width: 80vh;
    margin-left: 2rem;
}

.open{
    font-size: 16px;
    font-weight: 500;
    color: #939191;
}

.date{
    font-size: 18px;
    font-weight: 600;
    color: #1E1B1B;   
}

.time-text{
    margin-left: 10px;
}

.car-servicing {
    background-color: #E2E6E9;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.service-left-section h2{
    width: 583px;
    font-size: 53px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.convenient-service{
    display: flex;
}

.tools{
    width: 47px;
    height: 47px;
    border-radius: 47px;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 10px 10px 10px 0;
}

.tool-details h5{
    font-size: 22px;
    font-weight: 600;
    color: #1E1B1B;
    margin-top: 15px;
}

.tool-details p{
    font-size: 15px;
    font-weight: 600;
    color: #1E1B1B;
    width: 322px;
    margin-top: 8px;
    Opacity: 60%;
}

.service-right-section {
margin-left: 5rem;
}
.service-right-section h3{
    width: 587px;
    font-size: 42px;
    font-weight: 700;
    color: #1E1B1B;
    margin-bottom: 20px;
}
.know-more{
    margin-top: 20px;
    font-size: 18px;
    margin-left: 3.15rem;
  }
  .arrow {
      margin-left: 20px;
  
  }

input{
    width: 90%;
    background-color: #FFFFFF;
    color: #1E1B1B;
    border: none;
    outline: none;
    margin-top: 2px;
    border-radius: 2px;
    padding: 15px;
    opacity: 50%;
}
form{
    margin-bottom: 20px;
}

.quote-section{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.left-quote-section h2{
    width: 524px;
    font-size: 52px;
    font-weight: 800;
    color: #1E1B1B;
    line-height: 1.2;
}

.left-quote-section p {
    width: 437px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 2rem; 
    color: #1E1B1B;
    opacity: 60%;
}

.right-quote-section{
    margin-left: 5rem;
}
.step-one{
    display: flex;
}
.quote-image{
    width: 60px;
    height: 60px;
    margin: 10px 10px 10px 0;
    /* border-left: 1px dotted #FF6433; */
}

.line{
    position: relative;
    top: 70px;
    right: 40px;
}

.step-details h5{
    font-size: 28px;
    font-weight: 700;
    color: #1E1B1B;
    margin-top: 20px;
}

.step-details p{
    width: 336px;
    font-size: 18px;
    font-weight: 700;
    color: #1E1B1B; 
    Opacity: 60%;
}
.step-one{
    margin-bottom: 30px;
}

.offer-container{
    background-color: #F2F2F2;
    margin-bottom: 3rem;
}

.offer-section{
    display: flex;
    flex-direction: column;
}
.offer-text{
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 4rem;
    margin-bottom: 3rem;
}

.offer-text h6{
    font-size: 24px;
    font-weight: 800;
    color: #1E1B1B;
}

.offer-text h2{
    font-size: 52px;
    font-weight: 800;
    line-height: 1.2;
    color: #1E1B1B;
    width: 619px;
  margin: 0 auto;
}

.grid-item{
    background-color: #FFFFFF;
    margin-bottom: 5px;
    text-align: center ;
     padding-top: 4rem; 
     height: 200px;
}


.offer-grid{
    display: grid;
    grid-template-columns:272px 272px 272px 272px;
    /* grid-template-rows: 200px ; */
    grid-row-gap: 5px;
   grid-column-gap:10px;
   margin-left:8rem;
  
}

.grid-item:hover{
    background: #FF6433;
}

#wheel{
    background-color: #FF6433 !important;
    color: #FFFFFF !important;
}

#wheel:hover{
    background-color: #FFFFFF !important;
}

.learn-more {
    text-align: right;
   margin: 20px;  
   margin-right: 13% ;
}
.learn-more a:hover{
    color: #FF6433;
}
.learn-more a{
    text-decoration: none;
    color: #1E1B1B;
}

.orange-square{
    background-color: #FF6433;
    color: #FFFFFF;
    width: 40%;
    height: 54vh;
    position: relative;
    left:15%;
    top: 20px;
} 

.in-touch-section{
    display: flex;
    flex-direction: column; 
}

.get-in-touch{
    background-image: url(../images/car1.png), url(../images/car-engine.png);
    background-position:left, right;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
   width: 100%;
   height: 60vh;
   display: flex;
   

}

 .orange-square h3{
font-size: 38px;
padding: 100px 30px 40px 30px;

} 

.black-btn{
    border: none;
     background-color:  #050505;
     color: #FFFFFF;
     font-size: 16px;
     border-radius: 12px;
     padding: 10px;
     cursor: pointer;
     margin-left: 30px;
     font-size: 16px;
     padding: 10px;
 }



 .first-rating h2{
    font-size: 52px;
    font-weight: 800;
    color: #661CE7;
 }

 .first-rating p{
    font-size: 24px;
    font-weight: 600;
    color: #1E1B1B;
 }
 
 .rating{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
 }

 .brand-section{
    margin: 30px;
 }

 .brand-section h3 ,  .testimonial-section h3 , .freq-ask-question h3{
font-size: 45px;
text-align: center;
font-weight: 700;
color: #1E1B1B;
padding-top:5rem;
 }
 
 .brand-one{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
 } 

 .brand-logo{
    display: flex;
    flex-direction: column;
 }

 .logo-img:hover{
  transform: scale(1.5);
  filter: opacity(0.4) drop-shadow(0 0 0 red);
 }

 .testimonial-section{
    margin-top: 60px;
    background-color: #F2F2F2;
    padding-bottom: 60px;
 }

 .testimonial-section h3{
width: 909px;
margin: 30px auto;
 }

 .testimonial-container{
    display: flex;
   justify-content: center;
 }
 .testimonial-details{
    display: flex;
 }
.testionial-1{
    width: 500px;
    background-color: #FFFFFF;
    margin: 30px;
   padding: 40px;

}

.testimonial-text {
font-size: 20px;
margin-top: 20px;

}

 .testimonial-person{
    margin: 10px;
 }

 hr{
    width: 50px;
    border: 2px dashed #939191;
    margin: 10px auto;
 }
 hr:hover{
    border: 2px dashed #FF6433;
 }

 .freq-ask-question{
    background-color:#E2E6E9 ;
    padding: 60px 0;
 }
    
 .faq-container form{
 justify-content: center;
 width: 896px;
 margin: 40px auto;
 }
 select{
    width: 100%;
    border: none;
    margin-bottom: 5px;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
 }
 option{
    font-size: 12px;
    font-weight: 500;
    color: #939191;
 }

 .footer-section{
    background-color: #1E1B1B;
    color: #FFFFFF;
 }
 .footer-top{
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    margin-bottom: 30px;
    background-color: #1E1B1B;
    Opacity:98%;
 }

 .footer-top-left h3{
    font-size: 45px;
    width: 471px;
    line-height: 1.2;
    margin-bottom: 20px;
 }
 .social-handle img{
    margin: 10px;
 }
 .footer-top-right h5{
    font-size: 16px;
    font-weight: 600;
    opacity: 60%;
 }

 .footer-top-right p{
    font-size: 20px;
    font-weight: 600;
 }
 .contact{
    margin-bottom: 20px;
 }
 .footer-bottom a{
    color: #FFFFFF;
    font-size: 14px;
 }
 .footer-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-bottom: 30px;
    border:1px solid #1E1B1B;
 }
 .footer-logo{
    filter: opacity(0.5) drop-shadow(0 0 0 white);
 }

 .copyright{
    font-size: 14px;
    color: #939191; 
 }

 /* mobile view */
 @media(max-width:426px){
    .container{
        overflow-x: hidden;
    }
    .logo{
        align-items: center !important;
    }
    .list{
        display: none;
    }
    .road-assistance{
        display: none;
    }
    .hero-body, .car-servicing,.quote-section {
        flex-direction: column;
        width: 100%;
        /* padding: 10px; */
    }
    .hero-body{
        margin: 1.25rem;
        flex-direction: column;
    }
    .hero-image{
        order: 1;
        width: 60vh;
        height: 60vh;
     
    }
    .hero-text {
        order: 2;
    }
    .hero-text h1{
        font-size: 2rem;
        width: 100%;  
    }
    
 .car-servicing , .quote-section {
        padding: 2rem;
    }
    .service-left-section h2 ,   .left-quote-section h2{
        width: 100%;
        font-size: 30px;
        margin-bottom: 2rem;
    }
  
    .tools{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    }
    .tool-details h5, .footer-top-right p, .first-rating p{
        font-size: 18px;
    }
    .tool-details p, .know-more, .left-quote-section p, .footer-top-right h5 {
        font-size: 12px;
        width: 100%;
    }
    .know-more{
        margin-bottom: 2rem;
    }
    .arrow {
        margin-left: 10px;
        width: 30px;
    }
    
    .service-right-section{
        margin-left: 2rem;
    }
.service-right-section h3 , .brand-section h3 , 
.testimonial-section h3 , .freq-ask-question h3 , .footer-top-left h3 {
    width: 100%;
    font-size: 30px;
   
}
.line{
    display: none;
}

.right-quote-section {
    margin-left: 0;
}

.quote-image {
width: 40px;
height: 40px;
}

.step-details h5 {
    font-size: 24px;
    margin-top: 10px;
}
.step-details p{
    font-size: 13px;  
}
.orange-btn{
    margin-bottom: 20px;
}
.offer-text h6{
    font-size: 18px;
    width: 100%;    
}
.offer-text h2 {
    font-size: 30px;  
    width: 100%; 
}
.offer-grid{
    grid-template-columns:50% 50%;
    margin: 10px;
}
.get-in-touch{
    flex-direction: column;
    background-position:center;
    width: 100% , 100%;
    background-size: cover;
}
.orange-square{
    display: none;
}
.rating , .testimonial-container{
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.brand-logo{
    flex-direction: row;
}
.brand-one {
    flex-direction: column;
}
.logo-img{
    width: 150px;
}
.testionial-1{
    width: 100%;
    margin: 0 0 20px 0;
}
.faq-container form {
width: 100%;
}
select{
    width: 100%;
    padding: 20px;
    font-size: 16px;
}
.footer-section, .freq-ask-question , .testimonial-section {
    padding: 15px;
}
.footer-top, .footer-bottom{
    flex-direction: column;
}
.footer-nav-bar{
    display: block;
}
.first-rating h2 {
    font-size: 35px;
}
 }
 